.buy_dms {
    color: rgb(11, 60, 50);
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: normal;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.pay {
    width: 408px;
    height: 380px;
    box-sizing: border-box;
    border: 1px solid rgb(11, 60, 50);
    border-radius: 10px;
    background: rgb(11, 60, 50);
}

.input_form_field {
    width: 160px;
    height: 36px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

.dates {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.label_wrapper {
    /*position: absolute;*/
    position: absolute;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    color: rgb(141, 141, 141);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.form_field_date label {
    display: block;
    width: 160px;
    height: 26px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    color: rgb(141, 141, 141);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}