.companies {
    width: 1168px;
    height: 64px;
    border-radius: 10px;
    background: rgb(11, 60, 50);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.company_name_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrow_up {
    display: none;
}
#arrow_down {
    /*display: none;*/
}

.arrow {
    right: 29px;
    position: relative;
}

.companies .company_name {
    color: rgb(255, 255, 255);
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    position: relative;
    left: 20px;
}

.company_properties_wrapper {
    display: flex;
    gap: 20px;
    position: relative;
    left: 20px;
}

.company_details {
    position: relative;
    width: 1168px;
    height: 128px;
    border-radius: 0px 0px 10px 10px;
    background: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;
}


.company_image img{
    width: 80px;
    height: 80px;
}

.company_properties {
    display: flex;
    flex-direction: column;
    gap: 8.4px;
}

.company_properties .company_properties_text {
    color: rgb(11, 60, 50);
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
}